@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form>
        <div class="row">
            <div class="col">
                <select class="form-select text-center">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control text-center" placeholder="جستجو...">
            </div>
        </div>
    </form>
    <div class="d-none d-lg-block d-sm-none">
        <div class="row">
            <img src="..." class="img-thumbnail col" alt="...">
            <img src="..." class="img-thumbnail col" alt="...">
            <img src="..." class="img-thumbnail col" alt="...">
            <img src="..." class="img-thumbnail col" alt="...">
        </div>
        <div class="row">
            <img src="..." class="img-thumbnail col" alt="...">
            <img src="..." class="img-thumbnail col" alt="...">
            <img src="..." class="img-thumbnail col" alt="...">
            <img src="..." class="img-thumbnail col" alt="...">
        </div>
    </div>
    <div class="d-none d-sm-block d-lg-none">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="..." class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

