@{
    ViewData["Title"] = "Home Page";
}

<div>
    <form>
        <div class="row">
            <div class="col">
                <select class="form-select text-center">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <div class="col">
                <input type="text" class="form-control text-center" placeholder="جستجو...">
            </div>
        </div>
    </form>
    <div class="d-none d-lg-block d-sm-none mt-5">
        <div class="row">
            <img src="images/Jowhareh_galleries_2_poster_99a9484c-8505-4250-ac26-9c848a39caa2.jpeg" class="img-thumbnail col-lg-3" alt="picture" />
            <img src="images/Jowhareh_galleries_5_poster_24691af5-5db6-49c2-a775-6ce55ab66bc3.jpeg" class="img-thumbnail col-lg-3" alt="picture" />
            <img src="images/Jowhareh_galleries_5_poster_f112e601-a15b-42e0-a5f3-18794bbd5e57.jpeg" class="img-thumbnail col-lg-3" alt="picture" />
            <img src="images/Jowhareh_galleries_8_poster_80fa1d4d-ea56-4a85-9b20-4324869f97c7.jpeg" class="img-thumbnail col-lg-3" alt="picture" />
        </div>
        <div class="row">
            <img src="images/Jowhareh_galleries_poster_03b7ab98-9ec2-41b5-ab18-31342c942e6b.jpeg" class="img-thumbnail col-lg-3" alt="picture" />
            <img src="images/Jowhareh_galleries_poster_98ce2ef6-40bd-4ce1-956e-5d064d16bd33.jpeg" class="img-thumbnail col-lg-3" alt="picture" />
            <img src="images/Jowhareh_galleries_poster_aa4f9933-ca7f-4c86-806a-a8f2db68c822.jpeg" class="img-thumbnail col-lg-3" alt="picture" />
            <img src="images/Jowhareh_galleries_poster_fd0129ab-e071-4309-8dfb-df46d17af7fa.jpeg" class="img-thumbnail col-lg-3" alt="picture" />
        </div>
    </div>
    <div class="d-sm-block d-lg-none mt-5">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/Jowhareh_galleries_2_poster_99a9484c-8505-4250-ac26-9c848a39caa2.jpeg" class="d-block w-100" alt="picture">
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_5_poster_24691af5-5db6-49c2-a775-6ce55ab66bc3.jpeg" class="d-block w-100" alt="picture">
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_5_poster_f112e601-a15b-42e0-a5f3-18794bbd5e57.jpeg" class="d-block w-100" alt="picture">
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_8_poster_80fa1d4d-ea56-4a85-9b20-4324869f97c7.jpeg" class="d-block w-100" alt="picture">
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_poster_03b7ab98-9ec2-41b5-ab18-31342c942e6b.jpeg" class="d-block w-100" alt="picture">
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_poster_98ce2ef6-40bd-4ce1-956e-5d064d16bd33.jpeg" class="d-block w-100" alt="picture">
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_poster_aa4f9933-ca7f-4c86-806a-a8f2db68c822.jpeg" class="d-block w-100" alt="picture">
                </div>
                <div class="carousel-item">
                    <img src="images/Jowhareh_galleries_poster_fd0129ab-e071-4309-8dfb-df46d17af7fa.jpeg" class="d-block w-100" alt="picture">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

